@model CreditCard
@{
    ViewData["Title"] = "پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2 class="text-info text-center slide-in-top">
    درگاه پرداخت
</h2>
<br/>
<form method="post">
    <input hidden asp-for="SalePrice"/>
    <div class="row ">
        
        <div class="col-lg-1 col-0">
            @*  *@
        </div>

        <div class="col-lg-4 col-12 border border-secondary rounded pt-2 text-center slide-in-left " >

            <h6 class="text-info">
                اطلاعات مشتری
            </h6><br/>

            <div class="bodyG">
                <div class="container">
                    <div class="group">
                        <input asp-for="Appointments.CustomerName"  readonly class="inputG" type="text" required>
                        <span class="highlight"></span>
                        <span class=""></span>
                        <label class="labelG d-block text-center w-100">نام مشتری</label>
                    </div>
                </div>
            </div>

            <div class="bodyG">
                <div class="container">
                    <div class="group">
                        <input asp-for="Appointments.CustomerEmail" readonly class="inputG" type="text" required>
                        <span class="highlight"></span>
                        <span class=""></span>
                        <label class="labelG d-block text-center w-100">ایمیل مشتری</label>
                    </div>
                </div>
            </div>

            <div class="bodyG">
                <div class="container">
                    <div class="group">
                        <input asp-for="Appointments.CustomerNumber" readonly class="inputG" type="text" required>
                        <span class="highlight"></span>
                        <span class=""></span>
                        <label class="labelG d-block text-center w-100">شماره تماس مشتری</label>
                    </div>
                </div>
            </div>

            <input asp-for="Appointments.AppointmentDate" hidden/>
            <div class="bodyG">
                <div class="container">
                    <div class="group">
                        <input readonly id="timepicker" class="inputG" type="text" required>
                        <span class="highlight"></span>
                        <span class=""></span>
                        <label class="labelG d-block text-center w-100">تاریخ تحویل</label>
                    </div>
                </div>
            </div>


            <div class="bodyG">
                <div class="container">
                    <div class="group">
                        <input asp-for="Appointments.AppointmentDate" readonly id="datepicker" class="inputG" type="text" required>
                        <span class="highlight"></span>
                        <span class=""></span>
                        <label class="labelG d-block text-center w-100">روز تحویل</label>
                    </div>
                </div>
            </div>


        </div>


        <div class="col-lg-1 col-0">
            @*  *@
        </div>

        <div class="col-lg-5 col-12 border border-secondary rounded pt-2 text-center justify-content-center slide-in-right">

            <h6 class="text-info">
                اطلاعات کارت را وارد کنید
            </h6><br/>

            <div class="bodyG">
                <div class="container">
                    <div class="group">
                        @*<input asp-for="AccountSerialNum" data-inputmask="'mask': '9999 9999 9999 9999'" id="serialnum" class="inputG" type="text" required>*@
                        <input id="cc" type="tel" name="ccnumber" placeholder="XXXX XXXX XXXX XXXX" pattern="\d{4} \d{4} \d{4} \d{4}" class="inputG masked w-100" title="16-digit number">
                        <input id="serialnum" hidden asp-for="AccountSerialNum" />
                        <span class=""></span>
                        <span class="bar"></span>
                        <label class="labelG d-block text-center w-100">شماره کارت</label>
                        <span class="text-danger" asp-validation-for="AccountSerialNum "></span>

                    </div>
                </div>
            </div>

            <div class="bodyG">
                <div class="container">
                    <div class="group">
                        <input asp-for="Pin" style="font-family: monospace;" class="inputG w-100" type="text" required>
                        <span class=""></span>
                        <span class="bar"></span>
                        <label class="labelG d-block text-center w-100">رمز کارت</label>
                        <span class="text-danger" asp-validation-for="SalePrice "></span>

                    </div>
                </div>
            </div>

            <div class="bodyG">
                <div class="container">
                    <div class="group">
                        <input asp-for="CardExpirationDate" id="datepicker1" class="inputG w-100" value=" " type="text" required>
                        <span class=""></span>
                        <span class="bar"></span>
                        <label class="labelG d-block text-center w-100">تاریخ انقاضا کارت</label>
                        <span class="text-danger" asp-validation-for="CardExpirationDate "></span>

                    </div>
                </div>
            </div>


            <div class="bodyG">
                <div class="container">
                    <div class="group">
                        <input value="$@Model.SalePrice" style="color:red" readonly  class="inputG w-100" type="text">
                        <span class="highlight"></span>
                        <span class=""></span>
                        <label class="labelG d-block text-center w-100">مبلغ</label>
                    </div>
                    <span class="text-danger" asp-validation-for="SalePrice "></span>
                </div>
            </div>


            <button onmousedown="stringthetel()" type="submit" value="Pay :)" class="form-control btn btn-outline-success rotate-in-center"><i class="fab fa-amazon-pay"></i></button>


        </div>

        <div class="col-lg-1 col-0">
            @*  *@
        </div>

    </div>




























    @*<div class="row p-4 border rounded">
        <div class="col-4">
            <div class="row form-group">
                <div class="col-1"></div>
                <div class="col-10">
                    <input class="form-control input" readonly="readonly" asp-for="Appointments.CustomerName" />
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <input class="form-control input" readonly="readonly" asp-for="Appointments.AppointmentDate" />
                </div>
                <div class="col-1"></div>
            </div>
            @*<div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <input asp-for="Appointments." />
                    </div>
                    <div class="col-1"></div>
                </div>*@
        @*</div>
        <div class="col-8 ">
            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="AccountSerialNum" class="text-info"></label>
                </div>
                <div class="col-8">
                    <input asp-for="AccountSerialNum" class="form-control" />
                    <span asp-validation-for="AccountSerialNum" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="Pin" class="text-info"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Pin" class="form-control" />
                    <span asp-validation-for="Pin" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="CardExpirationDate" class="text-info"></label>
                </div>
                <div class="col-8">
                    <input value="" asp-for="CardExpirationDate" class="form-control" />
                    <span asp-validation-for="CardExpirationDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="SalePrice" class="text-info"></label>
                </div>
                <div class="col-8">
                    <input asp-for="SalePrice" readonly="readonly" class="form-control" value="@Model.SalePrice" />
                </div>
                <span asp-validation-for="SalePrice"></span>
            </div>
            <div class="row form-group">
                <div class="col-4">
                </div>
                <div class="col-8">
                    <button type="submit" value="Pay :)" class="form-control btn btn-success"><i class="fab fa-amazon-pay"></i></button>
                </div>
            </div>
        </div>
        @*<div class="col-2"></div>*@
    @*</div>*@
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script>

        $(document).ready(function () {
            var data = document.getElementById("datepicker").value;
            var t = document.getElementById("timepicker").value;

            if (data.indexOf("T") > 0) {
                data = data.split("T");
            } else {
                data = data.split(" ");
            }
            var time = data[1];

            var amPm = "";
            if (data[2] != undefined) {
                amPm = data[2];
            }

            //var amPm = data[2];
            $("#datepicker").attr("value", data[0]);
            $('#timepicker').attr("value", data[1].substr(0, 5) + " " + amPm);
        });

        function changetheprice(e) {
            e.value = e.value.split(" ")[0];
        }
        $(function () {
            $("#datepicker1").datepicker({
                minDate: +1
               
            });
        });
        function stringthetel() {
            var tel = document.getElementById("cc");
            var ser = document.getElementById("serialnum");
            ser.value = tel.value.toString();
        }
    </script>
}