@model IEnumerable<Special_Tags>
@{
    ViewData["Title"] = "Index";
}
<br/>
<div class="row">
    <div class="col-6">
        <h2 class="text-info scale-up-center">
            Special Tags
        </h2>
    </div>
    <div class="col-6 text-right scale-up-center">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Special Tag</a>
    </div>
</div>
<br/>
<div>
    <table class="table table-striped border">
        <tr class="table-info scale-up-center">
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="scale-up-center">
                <td>
                    @item.Name
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="@item.Id"/>
                </td>
            </tr>
        }
    </table>
</div>