@using System.Security.Cryptography.X509Certificates
@model IEnumerable<ProductTypes>
@{
    ViewData["Title"] = "Index";
}
<br/>
<div class="row">
    <div class="col-6">
        <h2 class="text-info tracking-in-contract-bck-bottom">Product Names</h2>
    </div>
    <div class="col-6 text-right tracking-in-contract-bck-bottom">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;New Product Type</a>
    </div>
</div>
<br/>
<div>
    <table class="table table-striped border">
        <tr class="table-info tracking-in-contract-bck-bottom">
            <th>@Html.DisplayNameFor(x=>x.Name)</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="tracking-in-contract-bck-bottom">
                <td>@item.Name</td>
                <td>
                    <partial name="_TableButtonPartial" model="@item.Id"/>
                </td>
            </tr>
        }
    </table>
</div>