@model ChainStore.Models.ViewModel.ShoppingCardViewModel
@{
    ViewData["Title"] = "AppointmentConfirmation";
}
@*<input hidden asp-for="Appointments.Id"/>*@
<h2 class="text-info slide-in-top">Appointment Confirmation</h2>
<div class="slide-in-top">
    Your appointment has been scheduled. one of out awesome sales is is going to be done shortly. Please feel free to contact us any time you had any questions.
</div>
<br />
<input hidden asp-for="Appointments.Id" />
<partial model="@Model.Appointments" name="AppointmentCustomerDetails" />
<br />
<partial model="@Model.Products" class="slide-in-right" name="AppointmentProductDetails" />
<div class="row slide-in-left">
    <div class="col-3">
    </div>
    <div class="col-6 text-center">

        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-danger">Stop The Sale</a>
        <a asp-area="Customer" asp-controller="CreditCard" asp-action="Index" asp-route-appointmentId="@Model.Appointments.Id" class="btn btn-primary">Complete the Sale</a>
    </div>
    <div class="col-3 text-right">
    </div>
</div>
<br /><br /><br />


@section Scripts{
    <script>
        $(document).ready(function () {
            var data = document.getElementById("datepicker").value;
            //var t = document.getElementById("timepicker").value;

            if (data.indexOf("T") > 0) {
                data = data.split("T");
            } else {
                data = data.split(" ");
            }
            var time = data[1];

            //var amPm = "";
            //if (data[2] != undefined) {
            //    amPm = data[2];
            //}

            //var amPm = data[2];
            $("#datepicker").attr("value", data[0]);
            //$('#timepicker').attr("value", data[1].substr(0, 5) + " " + amPm);
        });
    </script>

}